*{
  font-family: sans-serif;
}
:root {
  --texto: #141828;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #071414;
  /* min-height: 100vh; */
}

.manager {
  font-size: 1rem;
}

.show_more_btn {
  box-sizing: border-box;
  background-color: transparent;
  color: #1d9696;
  padding: .5em 1em;
  border: 3px solid #1d9696;
  border-radius:2em ;
  font-size: 1em;
  font-weight: bold;
}